.page {
	background-color: #2a2c2f;
	color: white;
	font-family: "Inter", "Arial", sans-serif;
	margin: 0 auto;
	padding: 0;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
}
