.places {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	row-gap: 80px;
	padding-bottom: 92px;
	max-width: calc(100% - 148px * 2);
}

@media screen and (max-width: 1279px) {
	.places {
		max-width: 100%;
		max-width: calc(100% - 48px * 2);
	}
}

@media screen and (max-width: 1023px) {
	.places {
		row-gap: 72px;
		padding-bottom: 90px;
		max-width: calc(100% - 24px * 2);
	}
}

@media screen and (max-width: 767px) {
	.places {
		row-gap: 50px;
		padding-bottom: 66px;
		max-width: 100%;
	}
}
