.page-size-wide {
	max-width: calc(100% - 48px * 2);
}

@media screen and (max-width: 1279px) {
	.page-size-wide {
		max-width: calc(100% - 48px * 2);
	}
}

@media screen and (max-width: 1023px) {
	.page-size-wide {
		max-width: calc(100% - 24px * 2);
	}
}

@media screen and (max-width: 767px) {
	.page-size-wide {
		max-width: calc(100% - 16px * 2);
	}
}
