/* .page {
	background-color: #2a2c2f;
	color: white;
	font-family: "Inter", "Arial", sans-serif;
	margin: 0 auto;
	padding: 0;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
} */

/* .content {
	margin: 0 auto;
	min-width: 300px;
} */

/* .link {
	transition: opacity 0.7s ease-in-out;
	opacity: 1;
}

.link:hover {
	opacity: 0.8;
} */

/* .header {
	display: flex;
	justify-content: space-between;
	padding-top: 28px;
	margin: 0 auto;
	padding-bottom: 56px;
} */

/* .header__logo {
	max-width: 176px;
	max-height: 52px;
} */

/* .header__lang-links {
	gap: 18px;
	display: flex;
} */

/* .header__lang-link {
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	color: white;
	text-decoration: none;
	align-self: flex-end;
} */

/* .header__lang-link_ru {
	text-decoration: underline;
} */

/* .content-section {
	max-width: calc(100% - 148px * 2);
} */

/* .photo-section {
	max-width: calc(100% - 48px * 2);
} */

/* .lead {
	margin: 0 auto;
	padding: 0 0 92px 0;
} */

/* .lead__title {
	font-style: normal;
	font-weight: 900;
	font-size: 96px;
	line-height: 100px;
	text-align: center;
	margin: 0 auto 32px auto;
	max-width: 720px;
} */

/* .lead__subtitle {
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	margin: 0 auto 64px auto;
	max-width: 640px;
} */

/* .lead__image {
	max-width: 100%;
	margin: 0 auto;
} */

/* .lead__caption {
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 14px;
	letter-spacing: 1.5px;
	margin: 5px 0 0 0;
} */

/* .intro {
	padding-bottom: 92px;
	max-width: 690px;
	margin-left: 148px;
} */

/* .intro__title {
	font-style: normal;
	font-weight: 900;
	font-size: 54px;
	line-height: 58px;
	margin: 0 0 40px 0;
} */

/* .intro__text {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 163%;
	margin: 0;
} */

/* .intro__list {
	list-style-type: none;
	margin: 33px 0 0 0;
	list-style: none;
	padding: 0;
} */

/* .intro__item {
	font-weight: normal;
	font-size: 12px;
	line-height: 150%;
	text-align: start;
} */

/* .intro__item_highlight-text {
	font-weight: 700;
} */

/* .photo-grid {
	margin: 0 auto;
	padding: 0 0 92px 0;
	display: grid;
	gap: 16px;
	grid-template-columns: repeat(4, calc((100% - 16px * 3) / 4));
	grid-template-areas: repeat(3, max-content);
} */

/* .photo-grid__item {
	object-fit: cover;
	max-width: 100%;
	background-position: center;
	background-size: cover;
} */

/* .places {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	row-gap: 80px;
	padding-bottom: 92px;
} */

/* .place {
	display: grid;
	grid-template-columns: 460px 1fr;
	grid-template-rows: repeat(2, max-content);
	row-gap: 48px;
	column-gap: 40px;
	grid-template-areas:
		"title url"
		"image paragraph";
} */

/* .place__title {
	grid-area: title;
	font-style: normal;
	font-weight: 900;
	font-size: 72px;
	line-height: 106%;
	margin: 0;
	max-width: 100%;
} */

/* .place__image {
	grid-area: image;
	width: 100%;
	margin: 0;
} */

/* .place__website {
	grid-area: url;
	margin: 0;
	display: flex;
	flex-direction: column;
	row-gap: 12px;
	align-self: end;
} */

/* .place__url-heading {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 100%;
	letter-spacing: 2px;
	margin: 0;
} */

/* .place__link {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 122%;
	text-decoration-line: underline;
	color: white;
	margin: 0;
} */

/* .place__paragraphs {
	display: flex;
	flex-direction: column;
	row-gap: 26px;
	margin: 0;
} */

/* .place__paragraph {
	font-weight: 400;
	font-size: 18px;
	line-height: 163%;
	margin: 0;
	grid-area: paragraph;
} */

/* .cover {
	padding: 0;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	background-image: url("./images/cover-trains.jpg");
	background-size: cover;
	position: relative;
	background-position: center;
} */

/* .cover__background {
	margin: 0;
	padding: 0;
	background: rgba(42, 44, 47, 0.3);
	width: 100%;
	transition: background 0.7s ease-in-out;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
}

.cover__background:hover {
	background: rgba(42, 44, 47, 0.7);
} */

/* .cover__description {
	padding: 245px 0;
	margin: 0;
	z-index: 4;
	position: relative;
} */

/* .cover__title {
	font-style: normal;
	width: 560px;
	font-weight: 900;
	font-size: 72px;
	line-height: 106%;
	text-align: center;
	margin: 0 auto 32px auto;
} */

/* .cover__link {
	text-decoration: none;
	color: white;
} */

/* .cover__subtitle {
	width: 360px;
	margin: 0 auto;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 122%;
	text-align: center;
} */

/* .footer {
	margin: 0 auto;
	padding-top: 92px;
	display: flex;
	justify-content: space-between;
	padding-bottom: 24px;
} */

/* .footer__nav {
	display: flex;
	column-gap: 18px;
} */

/* .footer__link {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 112%;
	text-decoration: none;
	color: white;
	margin: 0;
	padding: 0;
} */

/* .footer__copyright {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 114%;
	text-align: right;
	padding: 0;
	margin: 0;
} */

@media screen and (max-width: 1279px) {
	.content-section {
		max-width: calc(100% - 48px * 2);
	}

	.photo-section {
		max-width: calc(100% - 48px * 2);
	}

	.photo-grid {
		margin: 0 auto;
		padding: 0 0 92px 0;
		display: grid;
		gap: 14px;
		grid-template-columns: repeat(3, calc((100% - 14px * 2) / 3));
		grid-template-areas: repeat(4, max-content);
	}

	.place {
		grid-template-columns: 440px 1fr;
		grid-template-rows: repeat(2, max-content);
		column-gap: 32px;
	}

	.places {
		row-gap: 80px;
		padding-bottom: 92px;
	}

	.place__title {
		font-weight: 900;
		font-size: 42px;
		line-height: 110%;
	}

	.place__paragraph {
		font-weight: 400;
		font-size: 16px;
		line-height: 163%;
	}

	.place__paragraphs {
		row-gap: 25px;
	}

	.cover__description {
		padding: 195px 0;
		margin: 0;
	}

	.intro {
		padding-bottom: 92px;
		max-width: 690px;
		margin-left: 48px;
	}

	.lead__image {
		margin: 0 auto;
	}

	.header {
		padding-bottom: 48px;
	}

	.lead__subtitle {
		margin: 0 auto 56px auto;
	}
}

@media screen and (max-width: 1023px) {
	.content-section {
		max-width: calc(100% - 24px * 2);
	}

	.photo-section {
		max-width: calc(100% - 24px * 2);
	}

	.photo-grid {
		margin: 0 auto;
		padding: 0 0 88px 0;
		display: grid;
		gap: 16px;
		grid-template-columns: repeat(2, calc((100% - 16px) / 2));
		grid-template-areas: repeat(6, max-content);
	}

	.places {
		row-gap: 72px;
		padding-bottom: 90px;
	}

	.place {
		grid-template-columns: 340px 1fr;
		grid-template-rows: repeat(2, max-content);
		column-gap: 28px;
	}

	.cover__description {
		padding: 115px 0;
		margin: 0;
	}

	.cover {
		max-width: 100%;
	}

	.intro {
		padding-bottom: 88px;
		max-width: calc(100% - 24px * 2);
		margin: 0 auto;
	}

	.header {
		padding-bottom: 48px;
	}

	.lead {
		max-width: 100%;
		margin: 0 auto;
		padding: 0 0 88px 0;
	}

	.lead__image {
		max-width: 100%;
		margin: 0 auto;
	}

	.lead__caption {
		margin: 5px 0 0 24px;
		font-size: 10px;
		line-height: 140%;
		letter-spacing: 1.5px;
	}

	.footer {
		padding-top: 90px;
	}
}

@media screen and (max-width: 767px) {
	.header {
		padding-top: 16px;
		padding-bottom: 48px;
	}

	.content-section {
		max-width: calc(100% - 16px * 2);
	}

	.photo-section {
		max-width: calc(100% - 16px * 2);
	}

	.cover {
		max-width: 100%;
	}

	.cover__description {
		padding: 33px 0;
		margin: 0;
	}

	.cover__title {
		width: 100%;
		font-weight: 900;
		font-size: 32px;
		line-height: 109%;
		margin: 0 auto 16px auto;
	}

	.cover__subtitle {
		width: 100%;
		font-weight: 400;
		font-size: 14px;
		line-height: 114%;
	}

	.footer {
		flex-direction: column;
		gap: 48px;
		padding-top: 64px;
	}

	.footer__nav {
		flex-direction: column;
		gap: 32px;
	}

	.footer__link {
		font-size: 24px;
		line-height: 100%;
	}

	.footer__copyright {
		text-align: start;
	}

	.intro {
		padding-bottom: 64px;
		max-width: calc(100% - 16px * 2);
		margin: 0 auto;
	}

	.intro__title {
		font-weight: 900;
		font-size: 32px;
		line-height: 109%;
	}

	.intro__list {
		margin: 34px 0 0 0;
	}

	.photo-grid {
		padding: 0 0 64px 0;
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	.places {
		max-width: 100%;
		row-gap: 50px;
		padding-bottom: 66px;
		margin: 0 auto;
	}

	.place {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		row-gap: 32px;
	}

	.place__image {
		max-width: 100%;
		margin: 0;
	}

	.place__website {
		max-width: 100%;
		margin: 0 16px;
		align-self: start;
	}

	.place__title {
		font-weight: 900;
		font-size: 32px;
		line-height: 109%;
		text-align: start;
		max-width: calc(100% - 16px * 2);
		margin: 0 16px;
		text-align: start;
	}

	.place__paragraphs {
		row-gap: 25px;
		max-width: calc(100% - 16px * 2);
		margin: 0 auto;
	}

	.lead {
		max-width: 100%;
		margin: 0 auto;
		padding: 0 0 64px 0;
	}

	.lead__title {
		font-weight: 900;
		font-size: 40px;
		line-height: 110%;
		margin: 0 auto 16px auto;
	}

	.lead__subtitle {
		font-weight: 400;
		font-size: 16px;
		line-height: 125%;
		margin: 0 auto 40px auto;
	}

	.lead__caption {
		margin: 5px 0 0 16px;
	}

	.header__lang-link {
		font-weight: 400;
		font-size: 18px;
		line-height: 111%;
		text-align: right;
	}

	.lead__image {
		margin: 0 auto;
	}

	.header__logo {
		max-width: 142px;
		max-height: 42px;
	}

	.place__title_br {
		content: "";
	}
}
