.page {
	background-color: #2a2c2f;
	color: white;
	font-family: "Inter", "Arial", sans-serif;
	margin: 0 auto;
	padding: 0;
	max-width: 1280px;
}

.header {
	display: flex;
	justify-content: space-between;
	max-width: 1184px;
	padding-top: 28px;
	margin: 0 auto;
	padding-bottom: 56px;
}

.header__logo {
	width: 176px;
	height: 52px;
}

.header__lang-links {
	gap: 18px;
	display: flex;
}

.header__lang-link {
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	color: white;
	text-decoration: none;
	align-self: flex-end;
}

.content-section {
	max-width: 984px;
}

.photo-section {
	max-width: 1184px;
}

.lead {
	margin: 0 auto;
	padding: 0 0 92px 0;
}

.lead__title {
	font-style: normal;
	font-weight: 900;
	font-size: 96px;
	line-height: 100px;
	text-align: center;
	margin: 0 auto 32px auto;
	max-width: 720px;
}

.lead__subtitle {
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	margin: 0 auto 64px auto;
	max-width: 640px;
}

.lead__image {
	width: 984px;
	height: 615px;
	margin: 0;
}

.lead__caption {
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 14px;
	letter-spacing: 1.5px;
	margin: 8px 0 0 0;
}

.intro {
	margin-left: 148px;
	padding-bottom: 92px;
	max-width: 690px;
}

.intro__title {
	font-style: normal;
	font-weight: 900;
	font-size: 54px;
	line-height: 58px;
	margin: 0 0 40px 0;
}

.intro__text {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 163%;
	margin: 0;
}

.intro__list {
	list-style-type: none;
	margin: 33px 0 0 0;
	list-style: none;
	padding: 0;
}

.intro__item {
	font-weight: normal;
	font-size: 12px;
	line-height: 150%;
	text-align: start;
}

.intro__item_highlight-text {
	font-weight: 700;
}

.photo-grid {
	margin: 0 auto;
	padding: 0 0 92px 0;
	display: grid;
	gap: 16px;
	grid-template-columns: repeat(4, minmax(284px, 352px));
	grid-template-areas: repeat(3, max-content);
}

.photo-grid__item {
	width: 284px;
	height: 213px;
}

.places {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	row-gap: 80px;
	padding-bottom: 92px;
}

.place {
	display: grid;
	grid-template-columns: repeat(2, minmax(288px, 484px));
	grid-template-rows: repeat(2, max-content);
	row-gap: 48px;
	column-gap: 40px;
	grid-template-areas:
		"title url"
		"image paragraph";
}

.place__title {
	grid-area: title;
	font-style: normal;
	font-weight: 900;
	font-size: 72px;
	line-height: 106%;
	margin: 0;
}

.place__image {
	grid-area: image;
	width: 460px;
	margin: 0;
}

.place__website {
	grid-area: url;
	margin: 0;
	display: flex;
	flex-direction: column;
	row-gap: 12px;
	align-self: end;
}

.place__url-heading {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 100%;
	letter-spacing: 2px;
	margin: 0;
}

.place__link {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 122%;
	text-decoration-line: underline;
	color: white;
	margin: 0;
}

.place__paragraphs {
	display: flex;
	flex-direction: column;
	row-gap: 26px;
	margin: 0;
}

.place__paragraph {
	font-weight: 400;
	font-size: 18px;
	line-height: 163%;
	margin: 0;
	grid-area: paragraph;
}

.cover {
	padding: 0 0 92px 0;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.cover__background {
	background-image: url("./images/cover-trains.jpg");
	width: 100%;
	margin: 0;
	padding: 0;
	height: 740px;
	background-size: cover;
	position: relative;
	z-index: 1;
}

.cover__description {
	align-items: center;
	position: absolute;
	top: 245px;
	left: 312px;
}

/* можно через padding двигать внутренний блок с титульником и описанием */

.cover__title {
	font-style: normal;
	width: 560px;
	font-weight: 900;
	font-size: 72px;
	line-height: 106%;
	text-align: center;
	margin: 0 auto 32px auto;
}

.cover__subtitle {
	width: 360px;
	margin: 0 auto;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 122%;
	text-align: center;
}

.footer {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding-bottom: 24px;
}

.footer__nav {
	display: flex;
	column-gap: 18px;
}

.footer__link {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 112%;
	text-decoration: none;
	color: white;
	margin: 0;
	padding: 0;
}

.footer__copyright {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 114%;
	text-align: right;
	padding: 0;
	margin: 0;
}
