.cover {
	padding: 0;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	background-image: url("../../images/cover-trains.jpg");
	background-size: cover;
	position: relative;
	background-position: center;
}

@media screen and (max-width: 1279px) {
	.cover {
		max-width: 100%;
	}
}
