.cover {
	padding: 0;
	margin: 0 auto;
	min-height: 740px;
	max-width: calc(100% - 48px * 2);
}

@media screen and (max-width: 1279px) {
	.cover {
		max-width: 100%;
		min-height: 640px;
	}
}

@media screen and (max-width: 1023px) {
	.cover {
		min-height: 480px;
	}
}

@media screen and (max-width: 767px) {
	.cover {
		min-height: 200px;
	}
}
