.footer {
	margin: 0 auto;
	padding-top: 92px;
	display: flex;
	justify-content: space-between;
	padding-bottom: 24px;
}

@media screen and (max-width: 1023px) {
	.footer {
		padding-top: 90px;
	}
}

@media screen and (max-width: 767px) {
	.footer {
		flex-direction: column;
		gap: 48px;
		padding-top: 64px;
	}
}
